<header appMystyle class='header'>
    <div class="hamburger-menu" [class]="styleClass" (click)="doClick()">
        <div class="hamburger-menu-line line-top"></div>
        <div class="hamburger-menu-line line-middle"></div> 
        <div class="hamburger-menu-line line-bottom"></div>
    </div>
    <h1 class='title'><a routerLink="">ES本部グループウェア</a></h1>
    <nav class="pc-nav">
        <ul>
            <li><a routerLink="register">Register</a></li>
            <li><a routerLink="login">Login</a></li>
        </ul>
    </nav>
</header>