<div class='top-page'>
    <div class='information'>
        <h1>お知らせ</h1>
        <table>
            <tr><th>お知らせ</th></tr>
            <tr *ngFor="let item of getInformation()">
                <td>{{item.item}}</td>
            </tr>
        </table>
    </div>
    <div class='event'>
        <h1>イベント</h1>
        <table>
          <tr>
            <th class="box-l">イベント</th>
            <th class="box-m">日程</th>
            <th class="box-l">場所</th>
            <th class="box-s">開始時刻</th>
            <th class="box-s">終了時刻</th>
          </tr>
          <tr *ngFor="let item of products">
            <td>{{item.event}}</td>
            <td>{{item.schedule}}</td>  
            <td>{{item.place}}</td>  
            <td>{{item.start}}</td>  
            <td>{{item.end}}</td>  
          </tr>
        </table>
        <hr>    
        <ngb-pagination class="d-flex justify-content-start" [collectionSize]="countData" [pageSize]=CONSTANT_NUMBER [(page)]="page" [directionLinks]="false" (pageChange)=dataLoad()></ngb-pagination>
    </div>
    <div class='post'>
        <h1>イベント追加</h1>
        <form class="form" id="login-form" [(formGroup)]="postForm" (submit)="postData()">
          <label>イベント</label><br>
          <input type="text" placeholder="Event"  formControlName="event" [(ngModel)]="event"/>
          <br>
          <label>日程</label><br>
          <input type="date" placeholder="Schedule" formControlName="schedule" [(ngModel)]="schedule"/>
          <br>
          <label>場所</label><br>
          <input type="text" placeholder="Place"  formControlName="place" [(ngModel)]="place"/>
          <br>
          <label>開始時刻</label><br>
          <input type="time" placeholder="Start" formControlName="start" [(ngModel)]="start"/>
          <br>
          <label>終了時刻</label><br>
          <input type="time" placeholder="End" formControlName="end" [(ngModel)]="end"/>
          <br>
          <input type="submit" value="Post"  class='submit' [disabled]="postForm.invalid"/>
        </form>
    </div>
  </div>