<div class='top-page'>
    <div class='information'>
        <h1>お知らせ</h1>
        <table>
            <tr><th>お知らせ</th></tr>
            <tr *ngFor="let item of getInformation()">
                <td>{{item.item}}</td>
            </tr>
        </table>
    </div>
    <div class='event'>
        <h1>イベント</h1>
        <table>
          <tr>
            <th class="box-l">イベント</th>
            <th class="box-m">日程</th>
            <th class="box-l">場所</th>
            <th class="box-s">開始時刻</th>
            <th class="box-s">終了時刻</th>
          </tr>
          <tr *ngFor="let item of products">
            <td>{{item.event}}</td>
            <td>{{item.schedule}}</td>  
            <td>{{item.place}}</td>  
            <td>{{item.start}}</td>  
            <td>{{item.end}}</td>  
          </tr>
        </table>
        <hr>    
        <ngb-pagination class="d-flex justify-content-start" [collectionSize]="countData" [pageSize]=CONSTANT_NUMBER [(page)]="page" [directionLinks]="false" (pageChange)=dataLoad()></ngb-pagination>
    </div>
    <div class='post' *ngIf="visiblePostForm">
        <h3>イベント追加</h3>
        <hr>
        <form [(formGroup)]="postForm" (submit)="postData()">
          <label class="ef">イベント<br>
          <input type="text" placeholder="Event" class="box-l" formControlName="event" [(ngModel)]="event"/></label>
          <br>
          <label>日程<br>
          <input type="date" placeholder="Schedule" class="box-l" formControlName="schedule" [(ngModel)]="schedule"/></label>
          <br>
          <label>場所<br>
          <select formControlName="place"  class="box-l" [(ngModel)]="place">
            <option value='' disabled selected style='display:none;'>Place</option>
            <option *ngFor="let item of listPlace" [ngValue]="item.name">{{item.name}}</option>
          </select></label>
          <br>
          <label>開始時刻<br>
          <input type="time" placeholder="Start" class="box-s" formControlName="start" [(ngModel)]="start"/></label>
          <br>
          <label>終了時刻<br>
          <input type="time" placeholder="End" class="box-s" formControlName="end" [(ngModel)]="end"/></label>
          <br>
          <input type="submit" value="登録"  class='submit' [disabled]="postForm.invalid"/>
        </form>
    </div>
    <button id="btnDisplayPostForm" (click)="onClickBtnPostEvent()">{{btnMessage}}</button>
  </div>