$cWhite: rgb(253, 253, 253);

* {
    box-sizing: border-box;
 }
 
html{
   min-height: 100%;
   background-color:$cWhite;
}

 body {
   min-height: 100%;
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color:$cWhite;

   app-root {
      height: auto;
   }
 }

 app-root {
   height:100%;
   min-height:100%;
 }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
